<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="banner">
    <div class="header_tab">
        <div class="logo">
            <a href="#" class="home_page red">Trang chủ</a>
            <a href="#" class="contact">Liên hệ</a>
            <a href="#" class="news">Tin tức</a>
            <a href="#" class="service">Dịch vụ</a>
            <a href="#" class="about">Giới thiệu</a>
            <a href="#" class="mobile_number">0326626424</a>
            <p>
                <%=data %>
            </p>
        </div>
    </div>
    <h2 class="alt-font">CarpetSerc</h2>
    <h1>Hãy để chúng tôi làm sạch những tấm thảm giúp bạn nào.</h1>
</div>
</body>
</html>